root{
    height: 100vh;
    width: 100vw;
    overflow-x:hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #F6F4F0;
}



.maincontainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.navigationcontainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* margin-top: 25px; */
    width: 25%;
    padding: 25px;
   
    height: 100vh;
}

.navigationitem{
    display: flex;
    
}

.navlinks{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.navlinks:hover{
    cursor: pointer;
    opacity: 0.8;
    width: 100%;
    background-color: gray;
}

.navlinks:active{
    opacity: 0.8;
    width: 100%;
    background-color: gray;
}

.eventscontainer{
    display: flex;
    flex-direction: column;
  gap: 2.5rem;
  align-items: center;
    flex-grow: 8;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.individualevent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 75%;
    padding: 1rem;
    border-radius: 0.25rem;
}

.profilepic{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.topflex{
    display: flex;
    gap: 1.5rem;
}

.eventaction{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.slots{
    opacity: 0.5;
}

.profilename{
    font-style: italic;
    font-size: 1rem;
}

#mainprofilepic:hover{
    border: 2px solid blue;
    cursor: pointer;
}

.filtercontainer{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-top: 1.5rem;
}

.containerforvertical{
    display: flex;
    flex-direction: column;
}

.filters{
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    width: 100%;
}

.filters:active{
    background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  .active {
    background-color: #2E5077;
    color: white;
  }

  .buttongroup{
    display: flex;
    gap: 1rem;
  }

  .parishionercontainer{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 2rem;
    padding-top: 5rem;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 5rem;
  }

  .contentcontainer{
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  .searchcontainer{
    align-items: end;
    padding: 2rem;
    padding-right: 5rem;
    display: flex;
    justify-content: end;
  }

  #searchbar{
    border-radius: 0.5rem;
    border: none;
    width: 300px;
    padding: 0.5rem;
  }

  .parishioneritem{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: -5px 5px 10px #888888;
    text-align: center;
    background-image: linear-gradient(to top right, #3E5879 15%, transparent 15%);
    
  }

  

  .parishionerimage{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: -20rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .description{
    padding: 1rem;
  }

  .pagination{
    width: 96%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

.aboutdiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2.5rem;
    row-gap: 1.5rem;
    text-align: center;
}

.aboutsection{
    text-align: center;
}

  
  
